/.cpcache/
/.nrepl-port
/.creds.edn
/target/test/browser/cljs-runtime
/target/test/browser/js
/target/test/browser/index.html
/target/test/browser/karma.js
/node_modules/
/classes/
/resources/.creds.edn
/.shadow-cljs/
/resources/public/js/
/.clerk/
.vercel
/public/js/
/scrape/
