/.cpcache/
/.nrepl-port
/.creds.edn
/target/test/ci/karma.js
/target/test/browser/js
/target/shopping-cards.jar
/node_modules/
/classes/
/resources/public/cljs-out/
/resources/public/dev/
/resources/.creds.edn
/dist/
/.shadow-cljs/
/resources/public/js/
/resources/public/css/react-big-calendar.css
/out/test/js
/resources/public/js/
/resources/public/tachyons.css
/target/test/ci/cljs-runtime/
