{:paths ["scripts"]
 :tasks
 {dev (run '-dev {:parallel true})
  -dev {:depends [dev:fe dev:be]}
  dev:fe (clojure "-Mfe:fe/dev" "-J-XX:-OmitStackTraceInFastThrow")
  dev:be (clojure "-Mbe:be/dev" "-J-XX:-OmitStackTraceInFastThrow")
  test (run '-test {:parallel true})
  -test {:depends [test:fe test:be]}
  test:be (clojure "-Mbe:be/test")
  test:fe {:requires ([test-fe :as test-fe])
           :task (test-fe/run-test-suite!)}
  release {:depends [release:fe release:be]}
  release:fe (shell "shadow-cljs" "-Afe" "release" "app")
  release:be (clojure "-Mbe/release" "--aliases" "be:release")}}
