{:paths ["scripts"]
 :tasks
 {dev (clojure "-Mfe:fe/dev:fe/test" "-J-XX:-OmitStackTraceInFastThrow")
  test {:requires ([test-fe :as test-fe])
        :task (test-fe/run-test-suite!)}
  release (shell "shadow-cljs" "-Afe" "release" "app")}}
