{:deps {cljs-bean/cljs-bean {:mvn/version "1.8.0"}
        day8.re-frame/http-fx {:mvn/version "0.2.4"}
        expound/expound {:mvn/version "0.9.0"}
        fork/fork {:mvn/version "2.4.2"}
        metosin/reitit-frontend {:mvn/version "0.4.2"}
        metosin/reitit-spec {:mvn/version "0.4.2"}
        org.clj-commons/hickory {:mvn/version "0.7.4"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/test.check {:mvn/version "1.1.1"}
        re-frame-utils/re-frame-utils {:mvn/version "0.1.0"}
        re-frame/re-frame {:mvn/version "1.2.0"}
        reagent/reagent {:mvn/version "1.1.0"}
        thheller/shadow-cljs {:mvn/version "2.20.20"}
        nrepl/nrepl {:mvn/version "1.0.0"}
        cider/cider-nrepl {:mvn/version "0.42.1"}
        refactor-nrepl/refactor-nrepl {:mvn/version "3.9.0"}}
 :paths ["src" "resources"]
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {babashka/fs {:mvn/version "0.1.6"}}
                 :main-opts ["-m" "shadow"]}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/transit-cljs {:mvn/version "0.8.269"}
                               funcool/promesa {:mvn/version "8.0.450"}}}}}
