{"Paprikapulver" #{"Paprikapulver, edelsüß" "Paprikapulver"}
 "Paprika" #{"Paprikaschote(n), rot" "rote Paprika"}
 "Frischkäse" #{"Frischkäse" "Frischkäse, leicht"}
 "Salz" #{"Salz" "gesalzen" "evtl. Salz" "Meersalz, grobes, etwas gemahlen" "Salz/Jodsalz" "Fleur de Sel"}
 "Lasagneplatten" #{"Lasagneplatte(n)" "Lasagneplatte(n), nach Bedarf"}
 "Wasser"#{"Wasser, lauwarm" "Wasser"}
 "Pfeffer" #{"schwarzer Pfeffer" "Pfeffer" "Salz und Pfeffer" "Salz und Pfeffer, schwarzer"
             "Pfeffer, bunt, aus der Mühle" "Salz, Pfeffer"}
 "Öl" #{"Öl, neutral" "Öl, neutrales oder Olivenöl" "Öl, zum Anbraten" "Öl, oder Butter, zum Anbraten"
        "Olivenöl" "Öl, Pflanzenöl, Rapsöl/Sonnenblumenöl" "Butterschmalz" "Knoblauchöl"}
 "Butter" #{"Butter zum Fetten der Form" "Butter, für die Form"}
 "Nudeln" #{"Pasta" "Rigatoni oder Penne" "Spiralnudeln" "vegane Vollkornnudeln"}
 "Tomate" #{"Tomate(n), getrocknete" "getrocknete Tomaten" "Pizzatomaten" "Cherrytomate(n)" "Tomate(n)"}
 "Tomatenmark" #{"evtl. Tomatenmark"}
 "Basilikum" #{"Basilikum" "Basilikum, frisch" "ein Basikilumtopf"}
 "Passierte Tomaten"#{"Tomate(n), passierte"  "Tomaten, passierte" "Tomaten, passierte oder gehackte"
                      "Tomaten, passiert" "gehackte Tomaten"}
 "Geriebener Käse"#{"Geriebener Käse" "Emmentaler, geriebener" "Emmentaler"
                    "Käse, gerieben (z. B. Gouda oder Emmentaler)" "Käse, gerieben"
                    "Käse (Kasar), gerieben" "Käse (Emmentaler), gerieben" "Käse, geraspelter (z.B. Gouda)"
                    "Emmentaler, gerieben" "Käse, gerieben, 30 % Fett i. Tr."}
 "Eier" #{"Ei(er)" "Ei(er) oder 2" "Ei(er) zum Einstreichen"}
 "Reis"#{"Kritharaki (Nudeln in Reisform), 2 - 3 Esslöffel" "Jasminreis" "Basmatireis"}
 "Schinken"#{"Kochschinken"}
 "Kartoffeln" #{"Kartoffel(n)" "Kartoffel(n), möglichst 'neue'"}
 "Parmesan" #{"handvoll geriebener Parmesan" "Parmesan, frisch gerieben" "fein geriebener Parmesan"}
 "Knoblauch" #{"Knoblauch" "Knoblauchzehen" "Knoblauchzehe(n), gepresster"
               "Knoblauchzehe(n)" "Knoblauch, sehr fein gehackt" "Knoblauchzehe(n), fein gewürfelt"
               "Knoblauch, getrocknet, aus der Gewürzmühle" "Knoblauchzehe"}
 "Limettensaft" #{"Limettensaft" "Saft von halben Limette" "Limette(n), Schale und Saft"}
 "Spinat" #{"Blattspinat, TK oder frisch" "frischer Babyspinat"
            "Spinat, TK oder frisch dann blanchiert"}
 "Zwiebel" #{"Zwiebel(n), in Würfeln" "Zwiebel" "Lauchzwiebeln" "Zwiebel(n)" "Schalotte(n), gewürfelt"
             "weiße oder gelbe Zwiebel" "rote Zwiebel" "mittelgroße Zwiebel" "rote Zwiebeln"}
 "Mehl" #{"Weizenmehl Type 405" "Mehl für die Arbeitsfläche"}
 "Schmand" #{"Schmand, ersatzweise Crème fraîche oder Sauerrahm" "Schmand oder Creme fraiche" "Schmand, 24 % Fett" "Schmand oder Crème fraîche"}
 "Crème fraîche" #{"Creme fraiche"}
 "Peperoni" #{"Peperoni, mittelscharf (nach Geschmack)"}
 "Pizzagewürz" #{"Pizzagewürz oder italienische Kräutermischung"}
 "Champignons" #{"Champignons, frisch, nicht zu groß" "Champignons, frische"}
 "Mais" #{"Mais, TK oder 1 Dose"}
 "Hefe" #{"Trockenhefe oder 1/2 Pck. Frischhefe" "Frischhefe"}
 "Spätzle" #{"Spätzle, frische, aus dem Kühlregal" "Spätzle (Frischprodukt)"}
 "Kräuter" #{"Kräuter, gemischte, TK" "Kräuter, frische (Basilikum, Petersilie, Oregano)"}
 "Petersilie" #{"Petersilie, gehackt"}
 "Ingwer" #{"etwas Ingwer"}
 "Tomaten" #{"Tomate(n), getrocknete"}
 "Chilli" #{"Chili oder Pfeffer, einige Umdrehungen aus der Mühle" "Chilischote(n), frisch" "Chilipulver/Chiliflocken"
             "Chili nach Geschmack"}
 "Brokkoli" #{"Brokkoli, ca. 350 g" "Brokkoli, TK" "Romanesco"}
 "Zitrone"#{"Saft von 1 Zitrone" "½ Zitrone(n), Saft davon"}
 "Feta" #{"Schafskäse" "Feta-Käse"}
 "Semmel" #{"Brötchen" "Weißbrot, altbackenes" "als Beilage Semmeln oder Brot"}
 "Salami" #{"Sucuk"}
 "Karotte" #{"Möhre(n)"}
 "Sellerie" #{"Staudensellerie, mit Blättern"}
 "Aubergine" #{"Aubergine(n)"}
 "Currypaste" #{"Thai-Currypaste, grün"}
 "Curry" #{"Currypulver"}
 "Milch" #{"etwas Milch zum verdünnen von Schmand"}
 "Zucker"#{"evtl. Zucker"}
 "Zucchini" #{" Zucchini"}
 "Cabanossi" #{"Cabanossi)"}
 "Brühe" #{"Gemüsebouillon/Gemüsebrühe, zubereitet"}
 "Aufback-Brezeln" #{"Brezeln"}
 "Sojasoße" #{"Soja-Sauce"}
 "Joghurt" #{"Naturjoghurt bzw. Sojajoghurt"}
 "Quark" #{"Quark 0,2%"}
 "Frühlingszwiebel" #{"Lauchzwiebel(n), fein geschnitten"}}
