{"Paprikapulver" #{"Paprikapulver, edelsüß" "Paprikapulver" "½TL Paprikapulver" "Paprikapulver (edelsüß)" "Paprika edelsüß" "edelsüßes Paprikapulver"}
 "Paprika" #{"Paprikaschote(n), rot" "rote Paprika" "rotePaprika" "Paprikaschote" "Paprikaschote(n), rote"
             "Paprikaschote(n), gelbe"}
 "Frischkäse" #{"Frischkäse" "Frischkäse, leicht" "Kräuterfrischkäse" }
 "Salz" #{"Salz" "gesalzen" "evtl. Salz" "Meersalz, grobes, etwas gemahlen" "Salz/Jodsalz" "Fleur de Sel"
          "Kala Namak (Schwefelsalz)" "SalzzumKochen" "Salz nach Geschmack"}
 "Lasagneplatten" #{"Lasagneplatte(n)" "Lasagneplatte(n), nach Bedarf"}
 "Wasser" #{"Wasser, lauwarm" "Wasser" "Wasser und mehr zum Kochen" "Tasse(n) Wasser"}
 "Pfeffer" #{"schwarzer Pfeffer" "Pfeffer" "Salz und Pfeffer" "Salz und Pfeffer, schwarzer"
             "Pfeffer, bunt, aus der Mühle" "Salz, Pfeffer" "Pfeffer aus der Mühle"
             "¼ gemahlener Schwarzer Pfeffer" "¼ TL Pfeffer" "Pfeffer, weiß"
             "Meersalz und Pfeffer, schwarzer, aus der Mühle" "Pfeffer, schwarz, frisch gemahlen"}
 "Öl" #{"Öl, neutral" "Öl, neutrales oder Olivenöl" "Öl, zum Anbraten" "Öl, oder Butter, zum Anbraten"
        "Olivenöl" "Öl, Pflanzenöl, Rapsöl/Sonnenblumenöl" "Butterschmalz" "Knoblauchöl" "Olivenöl + 1TL"
        "Öl zum Braten" "Öl, Erdnussöl" "Sonnenblumenöl" "Öl oder Fett zum Frittieren" "Pflanzenöl"
        "gutes Olivenöl*" "Olivenöl oder Butterschmalz zum braten" "Sesamöl" "Rapsöl"
        "kaltgepresstes Rapskernöl (zum Anbraten)" "Sesamöl, geröstetes (optional)" "Öl *"}
 "Butter" #{"Butter zum Fetten der Form" "Butter, für die Form" "Margarine (ggf. vegan)"}
 "Nudeln" #{"Pasta" "Rigatoni oder Penne" "Spiralnudeln" "vegane Vollkornnudeln" "Vollkorn-Penne"
            "Muschelnudeln" "Nudeln, trocken, jede Sorte" "Tagliatelle Nudeln" "Linguine"}
 "Tomate" #{"Tomate(n), getrocknete" "getrocknete Tomaten" "Pizzatomaten" "Cherrytomate(n)" "Tomate(n)" "Tomaten"}
 "Tomatenmark" #{"evtl. Tomatenmark"}
 "Basilikum" #{"Basilikum" "Basilikum, frisch" "ein Basikilumtopf" "Basilikumblätter"
               "Stiel(e)Basilikum" "Chili con Carne Gewürz"}
 "Passierte Tomaten" #{"Tomate(n), passierte"  "Tomaten, passierte" "Tomaten, passierte oder gehackte"
                       "Tomaten, passiert" "gehackte Tomaten" "Pizzatomaten ( je 400 g)" "passierte Tomaten"
                       "Tomate(n), feste" "Fleischtomaten" "Tomaten, gestückelt" "stückige Tomaten aus der Dose"
                       "Tomaten, geschälte"}
 "Geriebener Käse" #{"Geriebener Käse" "Emmentaler, geriebener" "Emmentaler"
                     "Käse, gerieben (z. B. Gouda oder Emmentaler)" "Käse, gerieben"
                     "Käse (Kasar), gerieben" "Käse (Emmentaler), gerieben" "Käse, geraspelter (z.B. Gouda)"
                     "Emmentaler, gerieben" "Käse, gerieben, 30 % Fett i. Tr." "Gouda, gerieben"}
 "Eier" #{"Ei(er)" "Ei(er) oder 2" "Ei(er) zum Einstreichen" "egg(s)" "Ei" "Ei(er), leicht verquirlt"}
 "Reis" #{"Kritharaki (Nudeln in Reisform), 2 - 3 Esslöffel" "Jasminreis" "Basmatireis"
          "Basmati Reis" "Basmati_Reis" "Reis, ungekocht, z.B. Jasminreis" "Express Basmati-Reis (je 250 g) *"}
 "Schinken" #{"Kochschinken"}
 "Kartoffeln" #{"Kartoffel(n)" "Kartoffel(n), möglichst 'neue'" "Kartoffel(n), festkochend" "Kartoffeln, festkochend"
                "potato(es)" "Karotte(n), kleingeschnitten"}
 "Parmesan" #{"handvoll geriebener Parmesan" "Parmesan, frisch gerieben" "fein geriebener Parmesan" "Parmesan, gerieben"
              "Parmesan, frisch geriebener" "gehobelter Parmesan" "Parmesan gehobelt" "geriebener Parmesan"}
 "Knoblauch" #{"Knoblauch" "Knoblauchzehen" "Knoblauchzehe(n), gepresster"
               "Knoblauchzehe(n)" "Knoblauch, sehr fein gehackt" "Knoblauchzehe(n), fein gewürfelt"
               "Knoblauch, getrocknet, aus der Gewürzmühle" "Knoblauchzehe" "Knoblauchzehe(n), klein gehackt"
               "Zehe(n)Knoblauch" "Knoblauchzehe(n), gehackt" "Knoblauchzehe(n) oder mehr, nach Belieben"}
 "Limettensaft" #{"Limettensaft" "Saft von halben Limette" "Limette(n), Schale und Saft" "Limette(n)"}
 "Spinat" #{"Blattspinat, TK oder frisch" "frischer Babyspinat"
            "Spinat, TK oder frisch dann blanchiert" "Blattspinat, frisch" "Blattspinat, tiefgefroren"
            "Blattspinat" "Baby-Spinat" "Baby-spinat" "Blattspinat, TK"}
 "Zwiebel" #{"Zwiebel(n), in Würfeln" "Zwiebel" "Lauchzwiebeln" "Zwiebel(n)" "Schalotte(n), gewürfelt"
             "weiße oder gelbe Zwiebel" "rote Zwiebel" "mittelgroße Zwiebel" "rote Zwiebeln" "Zwiebel(n), klein gehackt" "Zwiebel/n"
             "Schalotten" "Speisezwiebel(n)" "rote Zwiebel(n)" "Speisezwiebel"
             "Speisezwiebeln" "Schalotte" "roteZwiebel" "Zwiebel, halbiert" "Zwiebeln" "Zwiebel(n), rote"
             "kleine rote Zwiebel" "Gemüsezwiebel(n)"}
 "Mehl" #{"Weizenmehl Type 405" "Mehl für die Arbeitsfläche" "Weizenmehl, bei Bedarf auch mehr"
          "Weizenmehl Typ 405"}
 "Schmand" #{"Schmand, ersatzweise Crème fraîche oder Sauerrahm" "Schmand oder Creme fraiche" "Schmand, 24 % Fett" "Schmand oder Crème fraîche"}
 "Crème fraîche" #{"Creme fraiche" "Crème fraîche" "vegane Crème fraîche"}
 "Peperoni" #{"Peperoni, mittelscharf (nach Geschmack)"}
 "Pizzagewürz" #{"Pizzagewürz oder italienische Kräutermischung"}
 "Champignons" #{"Champignons, frisch, nicht zu groß" "Champignons, frische"
                 "Pilze (Shiitake, alterntaiv Austernpilze)" "Pilze" "Pilze, in Scheiben"}
 "Mais" #{"Mais, TK oder 1 Dose" "Mais (310 g)" "Mais aus der Dose"}
 "Hefe" #{"Trockenhefe oder 1/2 Pck. Frischhefe" "Frischhefe"}
 "Spätzle" #{"Spätzle, frische, aus dem Kühlregal" "Spätzle (Frischprodukt)"}
 "Kräuter" #{"Kräuter, gemischte, TK" "Kräuter, frische (Basilikum, Petersilie, Oregano)" "eine Prise Oregano"
             "8 Kräuter, TK" "Kräuter der Provence, getrocknet" "Kräuter, gemischte" "Oregano, frisch" "getrockneter Oregano"}
 "Petersilie" #{"Petersilie, gehackt" "Petersilie, glatte" "Petersilie, frisch" "BundPetersilie"
                "gehackte Petersilie"}
 "Ingwer" #{"etwas Ingwer" "gehackter Ingwer"}
 "Tomaten" #{"Tomate(n), getrocknete"}
 "Chili" #{"Chili oder Pfeffer, einige Umdrehungen aus der Mühle" "Chilischote(n), frisch" "Chilipulver/Chiliflocken"
           "Chili nach Geschmack" "rote Chili" "Chilipulver" "Chilischote(n)"
           "Chiliflocken, getrocknete" "Chiliflocken" "Chillipulver" "Chiliflocke"
           "Chilischote" "Chilischote(n), in Ringe geschnitten (optional)" "Chilischote(n), rot"}
 "Brokkoli" #{"Brokkoli, ca. 350 g" "Brokkoli, TK" "Romanesco" "Broccoli"}
 "Zitrone" #{"Saft von 1 Zitrone" "½ Zitrone(n), Saft davon" "Saft einer halben Zitrone"
             "Bio-Zitronenschale, fein geriebene" "Bio-Zitrone" "SpritzerZitronensaft"}
 "Feta" #{"Schafskäse" "Feta-Käse" "feta cheese" "Feta Käse" "Schafskäse, alternativ Feta-Käse"
          "Feta_Käse"}
 "Semmel" #{"Brötchen" "Weißbrot, altbackenes" "als Beilage Semmeln oder Brot" "Semmeln"}
 "Salami" #{"Sucuk"}
 "Piment" #{"Piment, gemahlen"}
 "Brotzeit-Käse" #{"Käse"}
 "Karotte" #{"Möhre(n)" "Karotten/Möhren" "Möhre" "Karotten" "Möhren, in Stücken"}
 "Sellerie" #{"Staudensellerie, mit Blättern" "Sellerie, in Stücken"}
 "Aubergine" #{"Aubergine(n)"}
 "Currypaste" #{"Thai-Currypaste, grün" "rote Currypaste"}
 "Curry" #{"Currypulver"}
 "Milch" #{"etwas Milch zum verdünnen von Schmand" "Milch, lauwarm" "Vollmilch, zimmerwarm"
           "whole milk" "Vollmilch"}
 "Zucker" #{"evtl. Zucker"}
 "Zucchini" #{"Zucchini" "Zucchini (ca. 200g)"}
 "Cabanossi" #{"Cabanossi)"}
 "Brühe" #{"Gemüsebouillon/Gemüsebrühe, zubereitet" "Gewürzmischung (Tomatengewürzsalz)" "2 geh. TL Gewürzpaste für Gemüsebrühe, selbst gemacht"}
 "Tortellini" #{"Tortelloni"}
 "Aufback-Brezeln" #{"Brezeln"}
 "Sojasoße" #{"Soja-Sauce" "Sojasauce" "Sojasauce (Kecap Manis)" "Sojasoße *"}
 "Joghurt" #{"Naturjoghurt bzw. Sojajoghurt" "Joghurt, Magermilchjoghurt, Natur, bis 0,5 % Fett" "Sojajoghurt (zum Servieren)"}
 "Griechischer Joghurt" #{"Griechischer_Joghurt"}
 "Quark" #{"Quark 0,2%"}
 "Frühlingszwiebel" #{"Lauchzwiebel(n), fein geschnitten" "Frühlingszwiebel(n)" "Lauch (dünne Stange)"
                      "onion(s), yellow" "Lauch" "Lauchzwiebel(n), in Ringe geschnitten"
                      "Frühlingszwiebeln"}
 "Avocado" #{"reife Avocado" "reifeAvocados" "Avocados"}
 "Kümmel" #{"Kreuzkümmelpulver" "Kreuzkümmel, gemahlen" "Kreuzkümmel (Cumin), gemahlen"}
 "Bohnen" #{"Kidneybohnen (440 g)" "Kidney-Bohnen" "schwarze Bohnen" "Kidneybohnen aus der Dose"}
 "Weiße Bohnen" #{"weiße Bohnen, Dose od. Glas"}
 "Nachos" #{"Nacho(s)"}
 "Kurkuma" #{"Kurkumapulver" "frische Kurkumawurzel"}
 "Koriander" #{"Koriander, gemahlen" "Koriander, frisch" "Koriandergrün"}
 "Zimt" #{"Zimt, gemahlen"}
 "Kichererbsen" #{"Kichererbsen, Dose od. Glas"}
 "Erbsen" #{"Erbsen, tiefgekühlt" "Erbsen (Konserve)"
            "Erbsen, tiefgefroren" "Erbsen, TK"}
 "Linsen" #{"Linsen, trocken" "rote Linsen" "rote Linsen, getrocknet" "braune Linsen" "Linsen, rote, braune oder schwarze"}
 "Kokosmilch" #{"Kokosmilch, fettreduziert" "Kokosmilch (400 ml)"}
 "Rosmarin" #{"Rosmarin, frisch""Rosmarin, frischer, gehackter"}
 "Nüsse" #{"Nüsse, Cashewnüsse, Natur" "Erdnüsse geröstet & ungesalzen" "ein paar Erdnüsse"}
 "Schnittlauch" #{"Schnittlauch, getrocknet oder frisch"}
 "Saure Sahne" #{"saure Sahne"}
 "Sahne" #{"Schlagsahne" "Hafersahne" "REWE Bio Sojacreme Cuisine"}
 "Vanillezucker" #{"Vanilleschote(n) oder 1 Pck.Vanillezucker"}
 "Miso-Brühe" #{"Gewürzpaste (Miso-Paste, Asia-Shop)"}
 "Muskat" #{"Muskatnuss" "Prise(n)Muskatnuss"}
 "Rohrzucker" #{"Brauner Rohrzucker"}
 "Spaghetti" #{}
 "Umami Soße" #{}
 "Toast" #{"große Toast"}
 "Pesto (rot)" #{"Pesto, rotes"}
 "Minze" #{"Minze, frisch"}
 "Tofu" #{"Tofu, natur"}
 "Garam Masala" #{}
 "Thymian" #{"Thymian, frisch""Thymian, frischer, gehackter"}
 "Salat" #{"Feldsalat" "Eisbergsalat"}
 "Harissa" #{"Harissa (als Paste oder Pulver)"}
 "Lorbeerblatt" #{"Lorbeerblatt, frisch"}
 "Kürbis" #{"Hokkaidokürbis(se)"}
 "Hartweizen" #{"Tasse(n) vorgegarter Weizen"}
 "Buttergemüse" #{"gemischtes TK-Gemüse"}
 "Gouda" #{"mittelalter Gouda"}
 "Hähnchenfleisch" #{"Fleisch, z.B. dünne Hähnchenfleisch-Scheibchen"}
 "Shrimps" #{"Shrimps, kleine (optional)"}
 "Wraps" #{"Vollkorn-Tortillafladen"}
 "Salbei" #{"Salbei, frischer, gehackter"}
 "Lavendelblüten" #{"Lavendelblüten, getrocknete und zerriebene"}}
