({:id "dd3fa340-a54a-4dc8-aea2-68cdc3656608",
  :name "Pizza",
  :link
  "https://www.chefkoch.de/rezepte/1151011221381450/Der-beste-Pizzateig.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/1855021300715711/bilder/340115/crop-360x240/pizza-dell-alpe.jpg"}
 {:id "309b346f-7863-4f3b-a121-9eb5939938d1",
  :name "Krumplisteszta",
  :link
  "https://docs.google.com/document/d/1muuRIAhG1Yhtt43HBtyvcTA1Bfvz8YbTnoK_Qb2kELc/edit"
  :image "https://www.nosalty.hu/files/imagecache/recept/recept_kepek/273486_295059_krumplisteszta01x.jpg_.crop_display_0.jpg"}
 {:id "f0d25872-8874-4aff-819d-08861577401c",
  :name "Nudelpesto",
  :link
  "https://docs.google.com/document/d/1uWg90k32jHVV1dDyRGBr3mHmuEKpE9siLyLbYIkZEzw/edit",
  :image
  "https://img.chefkoch-cdn.de/rezepte/783761181637204/bilder/957322/crop-360x240/nudel-pesto-salat.jpg"}
 {:id "92e0c692-635d-4a4d-8caa-c650f13cbf9a",
  :name "Rosmarinkartoffeln",
  :link
  "https://www.chefkoch.de/rezepte/1778601287739038/Rosmarinkartoffeln-aus-dem-Ofen.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/632851163951406/bilder/351816/crop-360x240/rosmarinkartoffeln.jpg"}
 {:id "656d72c0-c5fb-4833-a645-4f12950d44a3",
  :name "Gebackender Feta",
  :link
  "https://www.chefkoch.de/rezepte/2490101391534933/Panierter-Schafskaese.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/3393871505204306/bilder/1076610/crop-360x240/gebackener-feta-auf-gemischtem-salat-mit-honigdressing.jpg"}
 {:id "24b6cd98-a51f-45d8-9f3d-9eccb5e8365f",
  :name "Gnocchi in Spinat Frischkäse-Soße",
  :link
  "https://www.chefkoch.de/rezepte/1958291318524674/Gnocchi-in-Spinat-Frischkaese-Sosse.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/1958291318524674/bilder/710737/crop-360x240/gnocchi-in-spinat-frischkaese-sosse.jpg"}
 {:id "5391806f-d56f-430a-b6c7-ce04c2fbc4d8",
  :name "Spinat-Feta Nudelauflauf",
  :link
  "https://docs.google.com/document/d/1E4vr4f5N130H6sDB7g4WsjNBn44oTvZrq8pi6B6xOMI/edit#heading=h.82t1kb2cspi",
  :image
  "https://img.chefkoch-cdn.de/rezepte/2477591389983960/bilder/667375/crop-360x240/spinat-nudelauflauf-mit-feta.jpg"}
 {:id "787ebbb2-1dc5-43c4-991f-6c90136040f7",
  :name "Falafel-Wraps",
  :link
  "https://docs.google.com/document/d/1kx9Efvdy-WmMtT8n_N6oKdrM9uEtws6BjImaOjMTI0s/edit",
  :image
  "https://img.chefkoch-cdn.de/rezepte/3309061491475076/bilder/1006870/crop-360x240/falafel-wraps-a-la-milli.jpg"}
 {:id "c8f2b8cd-a0a2-4a44-b11e-93f6339e85bb",
  :name "Spinatlasagne",
  :link
  "https://www.chefkoch.de/rezepte/1231981228220302/Spinatlasagne.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/1231981228220302/bilder/1223467/crop-360x240/spinatlasagne.jpg"}
 {:id "4054b9f0-07ec-4e48-bbca-fc7fa7c3454f",
  :name "Vegetarische gefüllte Zucchini auf griechische Art",
  :link
  "https://www.chefkoch.de/rezepte/2534541397069441/Vegetarische-gefuellte-Zucchini-auf-griechische-Art.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/2534541397069441/bilder/1036211/crop-360x240/vegetarische-gefuellte-zucchini-auf-griechische-art.jpg"}
 {:id "c96ecd6b-681f-4527-8ff4-0302f7f163d5",
  :name "Palatschinken",
  :link
  "https://docs.google.com/document/d/1XgYjXoomsM8Js3DQDMBApv13u3kZ2W81jLny2rDSnBU/edit",
  :image
  "https://img.chefkoch-cdn.de/rezepte/886391194251662/bilder/129615/crop-360x240/ricotta-palatschinken.jpg"}
 {:id "af2f9e4c-3d6c-4679-a1e0-afb812962a3b",
  :name "Curry",
  :link
  "https://www.chefkoch.de/rezepte/3418081509286217/Veganes-Curry-mit-Kokosmilch-Thai-Art.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/3273691486403869/bilder/1130252/crop-360x240/indisches-chicken-mango-curry.jpg"}
 {:id "8311263e-061f-482d-9b8b-e4229734976a",
  :name "One Pot Erdnuss-Nudel",
  :link
  "https://docs.google.com/document/d/1g1dD8fqHd-9d0SkyanjR9aiQJGTaRarV01bmHv4fOs4",
  :image
  "https://img.chefkoch-cdn.de/rezepte/3190371474828227/bilder/1291461/crop-360x240/one-pot-pasta.jpg"}
 {:id "ad958898-735e-438c-847a-f89504087a89",
  :name "Avocado-Pesto",
  :link "https://www.eat-this.org/pasta-mit-avocado-gruenkohl-pesto/",
  :image
  "https://img.chefkoch-cdn.de/rezepte/570881155737167/bilder/988885/crop-360x240/avocado-pesto.jpg"}
 {:id "db2d9ab0-1964-4052-a7c0-7c3292929504",
  :name "Käse-Spätzle",
  :link
  "https://www.chefkoch.de/rezepte/1062121211526182/Schnelle-Kaesespaetzle.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/1082671214034473/bilder/1020204/crop-360x240/cremige-kaesespaetzle.jpg"}
 {:id "2a04b3e0-2602-49e9-b9a0-444ce06f70a3",
  :name "Raclette im Ofen",
  :link
  "https://www.chefkoch.de/rezepte/129531055744529/Kartoffelauflauf-mit-Mais-und-Paprika.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/210861088430376/bilder/958948/crop-360x240/ananas-raclette-aus-dem-ofen.jpg"}
 {:id "d33e56e8-64e1-4b32-9eaf-90c9405caf17",
  :name "Pide",
  :link
  "https://www.chefkoch.de/rezepte/3321291493196664/Tuerkische-Pide-mit-Kaese-und-Sucuk.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/3305071490875490/bilder/1004795/crop-360x240/pide-mit-spinat-schafskaese-und-ei.jpg"}
 {:id "76e12d5d-ab18-409b-8b6a-b7e4a5dd6235",
  :name "Cremiger Nudelauflauf",
  :link
  "https://www.chefkoch.de/rezepte/2352371374010722/Cremiger-Nudelauflauf-mit-Tomaten-und-Mozzarella.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/2352371374010722/bilder/988858/crop-360x240/cremiger-nudelauflauf-mit-tomaten-und-mozzarella.jpg"}
 {:id "8b2dd671-20a8-4f55-b3d9-ce8010652f56",
  :name "Spinatknoedel",
  :link
  "https://www.chefkoch.de/rezepte/45491015343536/Spinatknoedel.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/45491015343536/bilder/663561/crop-360x240/spinatknoedel.jpg"}
 {:id "501c77c8-498b-4bec-a2fa-6ea1837eae6b",
  :name "Gemüse-Lassange",
  :link
  "https://www.chefkoch.de/rezepte/1143511220703880/Julies-feine-Gemueselasagne.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/2114131340630587/bilder/1251192/crop-360x240/vegetarische-spinat-gemuese-lasagne-mit-tomatensosse.jpg"}
 {:id "1f0e62ba-72e3-4871-b5ee-a3468a4457e2",
  :name "Kartoffelpuffer",
  :link
  "https://www.chefkoch.de/rezepte/755091178282333/Reibekuchen-Kartoffelpuffer.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/459831139066902/bilder/1218906/crop-360x240/kartoffelpuffer-sehr-einfach.jpg"}
 {:id "f05e0d11-a18c-466f-a83a-cfab622f57c9",
  :name "Spinat-Reis mit Blumenkohl mit Käse überbacken",
  :link
  "https://docs.google.com/document/d/1EF81XXK9o6YBA0oq83maiUJ2RkmToh-FO0JUVtw5528/edit",
  :image
  "https://img.chefkoch-cdn.de/rezepte/159921069926870/bilder/544569/crop-360x240/reis-mit-spinat-und-schafskaese.jpg"}
 {:id "70295d13-7639-4ba2-8e48-a8c8157b3121",
  :name "Kartoffelauflauf mit Ei / Rakott Krumpli",
  :link
  "https://docs.google.com/document/d/155d_-rOQnXzYr0aA8uu80-h62x-wVa-ZqYt8q_ahO9Y/edit",
  :image
  "https://img.chefkoch-cdn.de/rezepte/3228081480257308/bilder/966187/crop-360x240/ungarischer-kartoffelauflauf-rakott-krumpli.jpg"}
 {:id "885e60b0-3f89-4f19-b0b4-ed8bc8d619fe",
  :name "Pizzabrötchen",
  :link
  "https://www.chefkoch.de/rezepte/740511176724575/Die-besten-Pizzabroetchen-aller-Zeiten.html",
  :image
  "https://img.chefkoch-cdn.de/rezepte/194031082643453/bilder/879874/crop-360x240/pizzabroetchen.jpg"})
